body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.business-card {
  background-color: pink;
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.profile-image {
  max-width: 100%;
  text-align: center;
}

.social-media {
  text-align: center;
  background: pink;
  width: 300px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hr {
  text-align: center;
  width: 340px;
}
